<a href="https://colab.research.google.com/github/ShivangeeSingh/machine-learning/blob/master/creating_new_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
list=[19,'Shivi',35]
list1 = [19,'Shivu',59]
list2=[20,'Uru',46]
df = pd.DataFrame([list,list1,list2],columns=['age','name','marks'])

In [10]:
df

   age   name  marks
0   19  Shivi     35
1   19  Shivu     59
2   20    Uru     46